.Header {
  background-color: #53a3ba;
  min-height: 50px;
  display: flex;
  padding: 5px;
  gap:10px;
}

.Logo {
  height: 70px;
}

.Header-Nav:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}
