.Header {
  background-color: #53a3ba;
  height: 50px;
  justify-content: space-between;
  display: flex;
  padding: 0 20px;
  line-height: 50px;
}

.Logo {
  height: 40px;
  padding: 5px;
}

.Header-Textarea {
  margin: 10px;
  background-color: white;
  outline: none;
  border: none;
}
